.register_wrapper{
    display: flex;

}
.right_register{
    width: 50%;
    position: relative;
    padding: 0px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 100vh;
}
.right_register img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 7;
}
.left_register{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.right_register h1{
    font-size: 3.5rem;
    color: #fff;
    position: relative;
    z-index: 9;
    line-height: 4rem;
}
.left_register h2{
    color: var(--text-color);
    font-weight: 700;
    font-size: 2rem;
    margin: 15px 0;
    text-align: center;
    width: 80%;
    margin-inline: auto;
}
.register_form_wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 23px;
    margin-top: 20px;
}
.form_grid_wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 20px;
}
.terms_conditions_wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.terms_conditions_wrapper p{
    color: var(--text-color);
    font-size: 0.9rem;
}
.terms_conditions_wrapper input{
    width: 18px;
    height: 18px;
    accent-color: rgba(144, 155, 109, 1);
    color: #fff;
}
.or_with_wrapper{
    color: var(--text-color);
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    position: relative;
}
.or_with_wrapper::before{
    width: 42%;
    position: absolute;
    content: '';
    top: 10px;
    left: 0;
    height: 1px;
    background-color: rgba(144, 155, 109, 1);
}
.or_with_wrapper::after{
    width: 42%;
    position: absolute;
    content: '';
    top: 10px;
    right: 0;
    height: 1px;
    background-color: rgba(144, 155, 109, 1);
}
.google_apple_wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.log_in_link{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    text-align: center;
}
.log_in_link a{
    color: var(--primary-color);
    font-weight: 700;
    text-decoration: none;
}