.appoinment_program_wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.appoinment_porgram_img {
    width: 70%;
    height: 421px;
    border-radius: 10px;
    overflow: hidden;
}

.appoinment_porgram_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.appoinment_program_details_wrapper {
    width: 28%;
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 15px;
    padding: 20px 20px 20px 20px;
}

.appoinment_program_details_wrapper p {
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.1rem;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
}

.appoinment_program_details_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.appoinment_program_details_wrapper img {
    width: 100%;
    object-fit: cover;
    height: 180px;

}

.appoinment_program_details_wrapper h4 {
    color: var(--text-color);
    font-weight: 600;
    font-size: 0.95rem;
    padding-bottom: 14px;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
    margin-top: 5px;
}

.appoinment_program_details_wrapper h4 span {
    font-weight: 400;
}

.appoinment_program_name_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.appoinment_program_name_wrapper h4 {
    border-bottom: none;
    padding-bottom: 0px;
}

.customer_journey_wrapper {
    margin-top: 30px;
}

.customer_journey_cards_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.customer_journey_card {
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 10px;
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.customer_journey_card p {
    font-size: 0.8rem;
    color: var(--text-color);
    text-align: center;
}

.customer_journey_card a {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 0.8rem;
}

.response_details_wrapper {
    margin-top: 30px;
}

.response_details_wrapper h4 {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--text-color);
    margin: 15px 0;
}

.response_details_wrapper p {
    color: var(--text-color);
    font-weight: 400;
    font-size: 0.88rem;
    margin: 10px 0;
    line-height: 24px;
}

.response_details_wrapper h3 {
    font-size: 1.45rem;
    color: var(--text-color);
    margin-bottom: 20px;
}

.create_goal_form_wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input_radio_buttons_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    margin-left: 10px;
}

.input_radio_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.input_radio_wrapper input {
    width: 15px;
    height: 15px;
    accent-color: var(--primary-color);
}

.input_radio_wrapper p {
    color: var(--text-color);
    font-size: 15px;
}

.input_grid_Wrapper462 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
}

.enbale_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.enbale_wrapper p {
    font-size: 1rem;
    margin-left: 10px;
    font-weight: 600;
    color: var(--text-color);
}

.enable_toggle_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
    width: 37px;
    padding: 0px 3px 0px 5px;
    border-radius: 15px;
    height: 18px;
    flex-direction: row;
    transition: 0.2s linear all;
}

.enable_toggle_wrapper2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
    width: 37px;
    padding: 0px 3px 0px 5px;
    border-radius: 15px;
    height: 18px;
    flex-direction: row-reverse;
    transition: 0.2s linear all;
}

.enable_toggle_wrapper i {
    font-size: 8px;
    color: #fff;
}

.enable_toggle_wrapper2 i {
    font-size: 8px;
    color: #fff;
    position: static !important;
}

.toggle_circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
}

.sub_goal_wrapper {
    border: 1px solid rgba(216, 216, 216, 1);
    border-radius: 10px;
    padding: 20px 20px;
    position: relative;
}

.view_goal_wrapper {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.view_goal_1 {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.sub_goal_2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
}

.view_goal_1 h4 {
    font-size: 0.95rem;
    color: var(--text-color);
    font-weight: 600;
}

.view_goal_1 h4 span {
    font-weight: 400;
}

.view_goal_1 p {
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--text-color);
    line-height: 22px;
}

.sub_goal_2 h4 {
    font-size: 0.95rem;
    color: var(--text-color);
    font-weight: 600;
}

.sub_goal_2 h4 span {
    font-weight: 400;
}

.sub_goal_2 p {
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--text-color);
    line-height: 22px;
}

.response_set_wrapper {
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 15px;
    padding: 15px;
    margin: 25px 0;
}

.response_set_head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.response_set_head hr {
    width: 100%;
    background-color: rgba(217, 217, 217, 1) !important;
    color: rgba(217, 217, 217, 1) !important;
}

.response_set_head h5 {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-color);
    white-space: nowrap;
}

.arrow_btn {
    padding: 8px 15px;
    box-shadow: 0px 0.5px 1px 0px rgba(25, 33, 61, 0.07);
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 8px;
    cursor: pointer;
}
.selected_cards_grid_wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 15px;
}
.selected_card{
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.selected_card h6{
    color: rgba(70, 35, 7, 0.2);
    font-size: 2rem;
    text-align: center;
}
.selected_card h5{
    text-align: center;
    color: var(--text-color);
}
.selected_card span{
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.2rem;
}